<% content_for(:navbar) do %>
<li><a href="/">Home</a></li>
<li>
<% if user_signed_in? %>
<%= link_to "Edit Account", edit_user_registration_path %>
<%= link_to "Sign Out", destroy_user_session_path, :method => "delete" %>
<% else %>
<%= link_to "Sign In", user_session_path %>
<% end %>
</li>
<% end %>


<h1><%= @user.email %></h1>

<ul>
  <% @images.each do |image| %>
    <%= image_tag image.photo(:medium) %>
  <% end %>
</ul>


<p><%= link_to "Return to Images", images_path %></p>
