<% content_for(:navbar) do %>
<li><a href="/">Katstagram Home</a></li>
<li>
<% if user_signed_in? %>
<%= link_to "Edit Account", edit_user_registration_path %>
<%= link_to "Sign Out", destroy_user_session_path, :method => "delete" %>
<% else %>
<%= link_to "Sign In", user_session_path %>
<% end %>
</li>
<% end %>


<h2 class="caption"><%= @user.email %></h2>

<ul>
  <% @images.each do |image| %>
    <%= link_to (image_tag image.photo(:medium)), image_path(image) %>
  <% end %>
</ul>
