<% content_for(:navbar) do %>
<li><a href="/">Katstagram Home</a></li>
<li>
<% if user_signed_in? %>
<%= link_to "Edit Account", edit_user_registration_path %> <br>
<%= link_to "Sign Out", destroy_user_session_path, :method => "delete" %>
<% else %>
<%= link_to "Sign In", user_session_path %>
<% end %>
</li>
<% end %>

<h1>Katstagram</h1>

<%= image_tag @image.photo.url(:medium) %>
<h1><%= @image.caption %></h1>

<% if current_user %>
  <%= render "tags/new" %>

  <% if @image.tags.any? %>
    <% @image.tags.each do |tag| %>
    <%= button_to tag.user.email, image_tag_path(tag.image, tag), :method =>"delete" %>
    <% end %>
  <% end %>
  <% else %>
  <p>Joint to tag photos</p>
<% end %>

<p>
<% if current_user == nil %>
  <p>Reprimand: You Should Sign Up To Katstagram!</p>
<% else %>
  <% if current_user.id == @image.user_id %>
    <%= link_to "Edit", edit_image_path(@image) %>
    <%= link_to "Delete", image_path(@image),
                             :data => {:confirm => "You sure?",
                                       :method => "delete"} %>
  <% else %>
    <%= "You are not authorized to Edit or Delete this image"%>
  <% end %>
<% end %>
</p>

<p><%= link_to "Return to Images", images_path %></p>
