<% content_for(:navbar) do %>
<li><a href="/">Home</a></li>
<li><%= link_to "Sign In", user_session_path %></li>
<li><%= link_to "Sign Out", destroy_user_session_path, :method => "delete" %></li>
<% end %>

<%= image_tag @image.url %>
<h1><%= @image.caption %></h1>



<p><%= link_to "Edit", edit_image_path(@image) %></p>
<p><%= link_to "Delete", image_path(@image),
                         :data => {:confirm => "You sure?",
                                   :method => "delete"} %></p>

<p><%= link_to "Return to Images", images_path %></p>
